
.c-title{
    font-size: var(--font-size-1);
    font-weight: bold;
    font-family: var(--font-stack);
    color: var(--color-text-darker);
    text-align: center;

    &--extraLarge{
        padding: 20px;
    }

    &--2{
        font-size: var(--font-size-2);
    }

    &--3{
        font-size: var(--font-size-3);
    }
}

