.c-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 80%;
    // transition: border 0s, transform 0s;


    &__border {

        &:hover {
            border: solid red;
        }

        &:focus {
            transform: scale(1.1, 1.1);
        }

        &--ambos {
            transition: border 3s, transform 3s;
        }

        &--color {
            transition: border 3s;
        }

        &--tamaño {
            transition: transform 3s;
        }
    }


}